<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="../src/css/historystyle.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="container">
            <div class="main">
                <h2>Riwayat Aktivitas:</h2>
                <div class="filter-container">
                    <label for="filter" id="filter">Urutkan berdasarkan:</label>
                    <select name="filter" id="filter">
                        <option value="newest">Paling Baru</option>
                        <option value="oldest">Paling Lama</option>
                        <option value="most-likes">Paling Disukai</option>
                        <option value="most-comments">Paling Banyak Dikomentari</option>
                    </select>
                </div>
            </div>
            
            <div class="btn-primary">
                <article class="post-item">
                    <h5><a href="#">[REVIEW] Pengantar Desain Komunikasi Visual (DKV)</a></h3>
                    <div>
                        <span class="type">Membuat thread</span> di kategori <a href="#">Akademik</a>
                    </div>
                    <p>Halo semua! Mau sharing sedikit nih review matkul Pengantar DKV semester ini. Dosennya asik banget dan tugas-tugasnya seru, terutama proyek akhir...</p>
                    <div class="post-footer">
                        <span>2 Mei 2025</span> | <span>35 Suka</span> | <span>10 Balasan</span>
                    </div>
                </article>
                <article class="post-item">
                    <h5><a href="#">Re: Lowongan Magang di PT. Pertamina</a></h3>
                        <div>
                            <span class="type">Membalas thread</span> di kategori <a href="#">Info Karir</a>
                        </div>
                        <p>Wah, kebetulan banget aku juga apply di sana. Udah ada panggilan interview belum kak?</p>
                        <div class="post-footer">
                            <span>19 Januari 2025</span> | <span>250 Suka</span> | <span>30 Balasan</span>
                        </div>
                </article>
                <article class="post-item">
                    <h5><a href="#">Re: Rekomendasi Drakor: Resident Playbook(2025) - Wajib Nonton!</a></h3>
                    <div>
                        <span class="type">Membalas thread</span> di kategori <a href="#">Hobi</a>
                    </div>
                    <p>Setuju banget! menurutku drama ini lebih dari sekedar hiburan, banyak banget pelajaran hidupnya. Kita jadi belajar tentang empati dari sudut pandang dokter dan pasien. Bukan cuma soal penyakit, tapi juga tentang jadi manusia seutuhnya di tengah kesibukan.</p>
                    <div class="post-footer">
                        <span>27 September 2025</span> | <span>300 Suka</span> | <span>28 Balasan</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <script src="../src/js/history.js"></script>
</body>
</html>