<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="../src/css/searchstyle.css">
</head>
<body>
    <div class="container">
        <div class="search-box">
            <input class="input" type="text" placeholder="Searching for something?">
            <button class="button" type="submit">Cari</button>
        </div>
        <div class="this">
            <div class="filter-section">
                <h6>Kategori Populer</h4>
                <div class="btn">
                    <button class="btn-secondary" type="button">Info Karir</button>
                    <button class="btn-secondary" type="button">Akademik</button>
                    <button class="btn-secondary" type="button">Hobi & Hiburan</button>
                </div>
            </div>

            <div class="search-results">
                <h6>Pencarian Populer</h4>
                <a href="#" class="popular-search-item">Lowongan magang</a>
                <a href="#" class="popular-search-item">Rekomendasi tempat nongkrong</a>
            </div>
        </div>
    </div>
    <script src="../src/js/search.js"></script>
</body>
</html>