<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/searchstyle.css">
</head>
<body>
    <div class="container">
        <div class="search-box">
            <input class="input" type="text" placeholder="Search for something?">
            <button class="button" type="submit">
                <div class="search-icon">
                    <img src="https://img.icons8.com/?size=100&id=elSdeHsB03U3&format=png&color=000000" alt="Search">
                </div>
            </button>
        </div>
        <div class="results">
            <div class="filter-section">
                <h6>Popular Categories</h4>
                <div class="btn">
                    <button class="btn-secondary" type="button">Career Info</button>
                    <button class="btn-secondary" type="button">Academics</button>
                    <button class="btn-secondary" type="button">Hobbies</button>
                </div>
            </div>

            <div class="search-results">
                <h6>Popular Searches</h4>
                <a href="#" class="popular-search-item">Internship vacancy</a>
                <a href="#" class="popular-search-item">Recommended hangout spots</a>
            </div>
        </div>
    </div>
    <script src="../src/js/search.js"></script>
</body>
</html>