<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../src/css/Student.css">
</head>
<body>
    <div class="container">
        <h1>Event suggestion system</h1>

        <!--Event suggestion System-->
        <section id="student-selection">
            <h2>Suggest an Event</h2>
            <form id="event-form">
                <div class="form-group">
                    <label for="event-title">Event Title</label>
                    <input type="text" id="Event-title" required>
                </div>x

                <div class="form-group">
                    <label for="event-date">Event Date</label>
                    <input type="text" id="event-title" required>
                </div>
                <div class="form-group">
                    <label for="event-time">Event Time</label>
                    <input type="time" id="event-time" required>
                </div>

                <div class="form-group">
                    <label for="event-location">Location *</label>
                    <input type="text" id="event-location" required>
                </div>

                <div class="form-group">
                    <label for="event-description">Event description (Required)</label>
                    <textarea id="event-description" rows="4" placeholder="Describe the event..."></textarea>
                    <input type="text" id="event-title" required>
                </div>
                
                 <div class="form-group">
                    <label for="event-category">Category</label>
                    <select id="event-category" required>
                        <option value="">Choose a Category</option>
                        <option value="academic">Academic</option>
                        <option value="social">Social</option>
                        <option value="sports">Sports</option>
                        <option value="cultural">Cultural</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="event-image">Event Image (Optional)</label>
                    <input type="file" id="event-image" accept="image/*">
                </div>

                <div class="form-group">
                    <label for="student-name">Student Name (Optional)</label>
                    <input type="text" id="student-name" placeholder="Anomimous">
                </div>

                <button type="submit">Submit</button>
            </form>
        </section>  
    </div>

    <!--JavaScript-->
    <script src="../src/js/Student.js"></script>
    </div>
</body>
</html>