body {
    font-family: var(--secondary-font);
    background-color: var(--white-color);
    color: var(--secondary-color);
    line-height: 1.6;
}
h2,h5 {
    font-family: var(--main-font);
    font-weight: 600; 
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--h2-size);
    
    padding-bottom:30px;
    border-bottom: 1px solid #ccc;
}
h5 {
    font-size: var(--h5-size);
}
p {
    font-size: var(--p-size);
    margin-bottom: 1rem;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.container {
    width: 90%;
    max-width: 1140px; 
    margin: 0 auto; 
    padding: 2rem 0;
}

.history-filter-container #filter{
    font-size: var(--h6-size);
    margin-bottom: 20px;
}

.post-item{
    padding:20px;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    margin-bottom: 20px;
    border-radius: 18px;   
    transition: all 0.3s ease;
    color:#0c120c;
}
.post-item:hover {
    background: #b8c5c4;
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(12, 18, 12, 0.1);
}
.post-item #kategori{
    color: var(--error-red);
}
.activity{
    padding:20px;
}
.history-content-wrapper{
   display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.2rem;
    margin-bottom: 0.8rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #0c120c;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

